.container {
  text-align: center;
  display: grid;
}
.hero-image{
  background-image: url("https://via.placeholder.com/1800x860.png/05f/fff");
}

.App-header {
  background-color:solid black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


